footer {
  padding: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;

  .logo {
    height: 60px;
    display: flex;
    align-items: center;

    .imgLink {
      height: 100%;

      img {
        height: 100%;
      }
    }

    .txtLink {
      color: #000;
      text-decoration: none;
      font-weight: bolder;
      font-size: var(--font-size-base);
      border-left: 3px solid #000;
      padding: 0 10px;
    }
  }

  .credits {
    font-size: var(--font-size-sm);
    text-align: center;

    a {
      position: relative;
      text-decoration: none;
      color: #000;
      background-color: var(--yellow-henry);
      padding: 2px 5px;
      border-radius: 5px;

      &::before {
        content: '';
        width: 0;
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        height: 2px;
        background-color: #000;
        transition: 0.2s;
        border-radius: 5px;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}